@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
/* @import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Unlock&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #fc4c02   ;
  --secondary-color: #678d58 ;
  --accent1-color: #85ffc7;
  --accent2-color: #110B11;
  --accent3-color: #38302e;

  /* change the values below to your chosen font(s) */
  --heading-font: 'League Gothic', sans-serif;
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #110B11;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #678d58; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #678d58  ;
  --nav-link-color: #110B11;
  --nav-background-color: #fc4c02;
  --nav-hover-link-color: #38302e;
  --nav-hover-background-color: #678d58;
}


/* div {
    background-color: var(--accent3-color);
} */
nav {
  justify-items: center;
  padding-top: 1em;
}
.link{
    font-size: 2.5em;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    color: var(--accent2-color);
    font-family: var(--heading-font);
    margin: 0px 1%;
}
.link:hover {
  background-color: var(--secondary-color);
  color: whitesmoke;
}


/* body {
  text-align: center;
} */

.image_100 {

  width: 100%;
}
.image_50 {
  margin: 5px 25%;
  width: 50%;
}
.icon {
    height: 80px;
    border-radius: 50px;
}
#header_grid {
    display: grid;
    grid-template-columns: 150px 2fr 0.5fr;
}
.parallax_home {
  /* The image used */
  background-image: url("../images/wilson_background-min.JPG");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2_home {
  /* The image used */
  background-image: url("../images/wilson_background_2-min.JPG");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_sign_up {
  /* The image used */
  background-image: url("../images/shop-min.jpg");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2_sign_up {
  /* The image used */
  background-image: url("../images/bike_shop-min.jpeg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_our_story {
  /* The image used */
  background-image: url("../images/racing_jessie-min.JPG");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2_our_story {
  /* The image used */
  background-image: url("../images/jessie_racing_2-min.JPG");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 3em;
}
.title{
  text-align: center;
  font-family: var(--heading-font);
  font-size: 2em;
}
.point-content {
  /* margin: 0px 30px; */
  fill-opacity: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.point-card {
  margin: 3%;
  width: 25%;
  background-color: var(--secondary-color);
  padding: 5px;
  text-align: center;
  border-radius: 15px;
}
.payment-plans {
  /* margin: 0px 30px; */
  fill-opacity: 100%;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.payment-card1 {
  margin: 3%;
  /* width: 25%; */
  background-color: var(--secondary-color);
  padding: 5px;
  /* text-align: center; */
  border-radius: 15px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.payment-card2 {
  margin: 3%;
  /* width: 25%; */
  background-color: var(--secondary-color);
  padding: 5px;
  /* text-align: center; */
  border-radius: 15px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.payment-card3 {
  margin: 3%;
  /* width: 25%; */
  background-color: var(--secondary-color);
  padding: 5px;
  /* text-align: center; */
  border-radius: 15px;
  grid-row: 1/2;
}
.payment1 {
  grid-column: 1/2;
}
.payment2 {
  grid-column: 2/3;
}
.payment3 {
  grid-column: 3/4;
}
.center {
  text-align: center;
  /* margin: 10px auto; */
  margin: 10px;
}
.subscribe {
  font-size: 2.5em;
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--accent2-color);
  font-family: var(--heading-font);
  margin-bottom: 10px;
}
.contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact-card {
  margin: 3%;
  width: 25%;
  background-color: var(--secondary-color);
  padding: 5px;
  /* text-align: center; */
  border-radius: 15px;
}
.point-link {
  text-decoration: none;
  color: var(--accent1-color);
}
.point-link:hover {
  color: var(--accent3-color);
}
.header {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    /* border-radius: 15px; */
    position: relative;
    top: 0px;
    left: 0px;
}

.footer {
    height: 200px; 
    width: 100%;
    padding-bottom: 5px;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: var(--primary-color);
    /* border-radius: 15px; */
    text-align: center;
    font-family: var(--heading-font);
}
.paragraph {
  text-align: center;
  font-family: var(--paragraph-font);
}
.list {
  font-family: var(--paragraph-font);
}

.login_window {
  margin: 0 auto;
  width: 30%;
  /* height: 50%; */
  background-color: var(--secondary-color);
}
.login_form {
  text-align: center;
}
.form_line {
  padding: 10px;
}

/* form CSS */


@media screen and (max-width: 900px) {
  .parallax_home {
    background-attachment: scroll;
    min-height: 400px;
  }
  .parallax2_home {
    background-attachment: scroll;
    min-height: 400px;
  }
  .parallax_sign_up {
    background-attachment: scroll;
    min-height: 400px;
  }
  .parallax2_sign_up {
    background-attachment: scroll;
    min-height: 400px;
  }
  .parallax_our_story {
    background-attachment: scroll;
    min-height: 400px;
  }
  .parallax2_our_story {
    background-attachment: scroll;
    min-height: 400px;
  }
  .point-content {
    display: block;
    
  }
  .point-card {
    text-align: center;
    width: 50%;
    margin: 5px 25%;
  }
  .payment-plans {
    display: block;
  }
  .payment-card {

    width: 50%;
    margin: 5px 25%;
  }
  .contact-content {
    display: block;
  }
  .contact-card {
    width: 50%;
    margin: 5px 25%;
  }
} 